.chapter4 {
    width: 100%;
    height: 55rem;
    background: #f9fbfb;
}

.chapter4Text {
    padding-top: 4%;
    margin-left: 39%;
    font-weight: 900;
    font-size: 38pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter4Text1 {
    font-size: 18pt;
    color: #b5b7b7;
    margin-left: 32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter4Rob {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.chapter4Kartincka {
    margin-left: 5%;
}

.chapter4Bg {
    margin-top: 3.5%;
    margin-left: 1%;
    width: 90%;
    height: 25rem;
    background: #eaebed;
    margin-right: 5%;
}

.chapter4Text2 {
    margin-top: 5%;
    margin-left: 27%;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter4Text3 {
    margin-top: 5%;
    font-size: 16pt;
    width: 50%;
    text-align: center;
    color: #b5b7b7;
    margin-left: 22%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter4Input {
    margin-left: 13.5%;
}

input[type='radio'] {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #d0d0d0;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #71f6eb;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.chapter4Kartincka1 {
    margin-top: 3%;
    margin-left: 40%;
}

.chapter4Z1 {
    display: flex;
}

.chapter4St {
    width: 33px;
    height: 33px;
    background: #ffffff;
    margin-left: 75%;
    margin-top: 2%;
}

.chapter4St:hover {
    background: #71f6eb;
}

.chapter4St1:hover {
    background: #71f6eb;
}

.chapter4Kartincka2 {
    padding-left: 25%;
    padding-top: 22%;
}

.chapter4Kartincka3 {
    padding-left: 29%;
    padding-top: 22%;
}

.chapter4St1 {
    margin-top: 2%;
    margin-left: 1%;
    width: 33px;
    height: 33px;
    background: #ffffff;
}