.chapter1 {
  width: 100%;
  height: 60rem;
  background: #ffffff;
}

.chapter1Text {
  padding-top: 4%;
  margin-left: 34%;
  font-weight: 900;
  font-size: 38pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter1Text1 {
  font-size: 18pt;
  color: #b5b7b7;
  margin-left: 29%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*# sourceMappingURL=chapter1.css.map */