.chapter2 {
  width: 100%;
  height: 150rem;
  background: #f9fbfb;
}

.chapter2Text {
  padding-top: 4%;
  margin-left: 34%;
  font-weight: 900;
  font-size: 38pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter2Text1 {
  font-size: 18pt;
  color: #b5b7b7;
  margin-left: 26%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter2Rob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 15%;
  margin-top: 5%;
}

.chapter2Kartincka1 {
  width: 50%;
  height: 30rem;
  background: url(../assets/img/chapterKartin2.jpg);
  background-size: cover;
}

.chapter2Kartincka2 {
  margin-left: 2%;
  width: 30%;
  height: 30rem;
  background: url(../assets/img/chapterKartin6.jpg);
  background-size: cover;
}

.chapter2Text2 {
  color: #f9f9f9;
  font-size: 20pt;
  padding-left: 18%;
  padding-top: 4%;
}

.chapter2Text3 {
  color: #ebebeb;
  font-size: 16pt;
  width: 80%;
  padding-left: 10%;
  padding-top: 2%;
}

.chapter2Button {
  color: #f9fbfb;
  padding-left: 10%;
  padding-top: 15%;
}
/*# sourceMappingURL=chapter2.css.map */