.chapter5 {
    width: 100%;
    height: 60rem;
}

.chapter5Image {
    width: 100%;
}

.chapter5Bg {
    background: url(../assets/img/Bg1.jpg);
    background-size: cover;
    width: 100%;
    height: 60rem;
}

.chapter55 {
    width: 100%;
    height: 15%;
    background: red;
    opacity: 0.0;
}

.chapter5Bg1 {
    width: 40%;
    height: 70%;
    background: #455661;
    margin-left: 10%;
    opacity: 0.6;
    float: left;
}

.chapter5Input {
    width: 85%;
    opacity: 0.6;
    margin-top: 10%;
    margin-left: 5%;
    height: 5%;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #455661;
}

.chapter5Input1 {
    width: 85%;
    opacity: 0.6;
    margin-top: 10%;
    margin-left: 5%;
    height: 5%;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #455661;
}

.chapter5Input2 {
    width: 85%;
    opacity: 0.6;
    margin-top: 10%;
    margin-left: 5%;
    height: 5%;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #455661;
}

.chapter5Input3 {
    width: 85%;
    opacity: 0.6;
    margin-top: 10%;
    margin-left: 5%;
    height: 15%;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #455661;
}

.chapter5Butten {
    background: #6eeee4;
    border-radius: 10px;
    width: 45%;
    opacity: 0.6;
    margin-top: 10%;
    margin-left: 5%;
    height: 10%;
}

.chapter5Bg2 {
    width: 35%;
    height: 70%;
    background: #455661;
    margin-left: 55%;
    opacity: 0.6;
}

.chapter5Text {
    color: #a5abaf;
    font-size: 15pt;
    margin-left: 5%;
    padding-top: 5%;
}

.chapter5Text1 {
    color: #a5abaf;
    font-size: 15pt;
    margin-left: 5%;
}

.chapter5Text2 {
    color: #a5abaf;
    font-size: 15pt;
    margin-left: 5%;
}

.chapter5Text3 {
    color: #a5abaf;
    font-size: 15pt;
    margin-left: 5%;
}

.chapter5Text4 {
    color: #a5abaf;
    font-size: 15pt;
    margin-left: 5%;
    padding-top: 5%;
}

.chapter5Text5 {
    color: #a5abaf;
    font-size: 15pt;
    margin-left: 5%;
}

.chapter5Image1 {
    margin-left: 5%;
    padding-top: 5%;
}

.chapter5Image2 {
    width: 100%;
}