.chapter2 {
    width: 100%;
    height: 112rem;
    background: #f9fbfb;
}

.chapter2Text {
    padding-top: 4%;
    margin-left: 34%;
    font-weight: 900;
    font-size: 38pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter2Text1 {
    font-size: 18pt;
    color: #b5b7b7;
    margin-left: 26%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter2Rob {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 5%;
}

.chapter2Kartincka1 {
    width: 50%;
    height: 30rem;
    background: url(../assets/img/chapterKartin2.jpg);
    background-size: cover;
}

.chapter2Kartincka1:hover {
    background: #71f5ea;
}

.chapter2Kartincka2 {
    margin-left: 2%;
    width: 30%;
    height: 30rem;
    background: url(../assets/img/chapterKartin6.jpg);
    background-size: cover;
}

.chapter2Kartincka2:hover {
    background: #71f5ea;
}

.chapter2Text2 {
    color: #f9f9f9;
    font-size: 20pt;
    padding-left: 18%;
    padding-top: 4%;
}

.chapter2Text2:hover {
    color: #1d4a47;
}

.chapter2Text3 {
    color: #ebebeb;
    font-size: 16pt;
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
}

.chapter2Text3:hover {
    color: #1d4a47;
}

.chapter2Button {
    color: #f9fbfb;
    padding-left: 10%;
    padding-top: 15%;
}

.chapter2Button:hover {
    color: #1d4a47;
}

.chapter2Text4 {
    color: #f9f9f9;
    font-size: 20pt;
    padding-left: 18%;
    padding-top: 44%;
}

.chapter2Text4:hover {
    color: #1d4a47;
}

.chapter2Text5 {
    color: #ebebeb;
    font-size: 16pt;
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
}

.chapter2Text5:hover {
    color: #1d4a47;
}

.chapter2Button1 {
    color: #f9fbfb;
    padding-left: 10%;
    padding-top: 15%;
}

.chapter2Button1:hover {
    color: #1d4a47;
}

.chapter2Rob1 {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 1.5%;
}

.chapter2Kartincka3 {
    width: 50%;
    height: 30rem;
    background: url(../assets/img/chapterKartin3.jpg);
    background-size: cover;
}

.chapter2Kartincka3:hover {
    background: #71f5ea;
}

.chapter2Kartincka4 {
    margin-left: 2%;
    width: 30%;
    height: 30rem;
    background: url(../assets/img/chapterKartin5.jpg);
    background-size: cover;
}

.chapter2Kartincka4:hover {
    background: #71f5ea;
}

.chapter2Text6 {
    color: #f9f9f9;
    font-size: 20pt;
    padding-left: 18%;
    padding-top: 29%;
}

.chapter2Text6:hover {
    color: #1d4a47;
}

.chapter2Text7 {
    color: #ebebeb;
    font-size: 16pt;
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
}

.chapter2Text7:hover {
    color: #1d4a47;
}

.chapter2Button3 {
    color: #f9fbfb;
    padding-left: 10%;
    padding-top: 15%;
}

.chapter2Button3:hover {
    color: #1d4a47;
}

.chapter2Text8 {
    color: #f9f9f9;
    font-size: 20pt;
    padding-left: 18%;
    padding-top: 44%;
}

.chapter2Text8:hover {
    color: #1d4a47;
}

.chapter2Text9 {
    color: #ebebeb;
    font-size: 16pt;
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
}

.chapter2Text9:hover {
    color: #1d4a47;
}

.chapter2Button4 {
    color: #f9fbfb;
    padding-left: 10%;
    padding-top: 15%;
}

.chapter2Button4:hover {
    color: #1d4a47;
}

.chapter2Rob2 {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 1.5%;
}


.chapter2Kartincka5 {
    width: 30%;
    height: 30rem;
    background: url(../assets/img/chapterKartin4.jpg);
    background-size: cover;
}

.chapter2Kartincka5:hover {
    background: #71f5ea;
}

.chapter2Kartincka6 {
    margin-left: 2%;
    width: 50%;
    height: 30rem;
    background: url(../assets/img/chapterKartin7.jpg);
    background-size: cover;
}

.chapter2Kartincka6:hover {
    background: #71f5ea;
}

.chapter2Text10 {
    color: #f9f9f9;
    font-size: 20pt;
    padding-left: 18%;
    padding-top: 39%;
}

.chapter2Text10:hover {
    color: #1d4a47;
}

.chapter2Text11 {
    color: #ebebeb;
    font-size: 16pt;
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
}

.chapter2Text11:hover {
    color: #1d4a47;
}

.chapter2Button5 {
    color: #f9fbfb;
    padding-left: 10%;
    padding-top: 15%;
}

.chapter2Button5:hover {
    color: #1d4a47;
}

.chapter2Text12 {
    color: #f9f9f9;
    font-size: 20pt;
    padding-left: 18%;
    padding-top: 23%;
}

.chapter2Text12:hover {
    color: #1d4a47;
}

.chapter2Text13 {
    color: #ebebeb;
    font-size: 16pt;
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
}

.chapter2Text13:hover {
    color: #1d4a47;
}

.chapter2Button6 {
    color: #f9fbfb;
    padding-left: 10%;
    padding-top: 15%;
}

.chapter2Button6:hover {
    color: #1d4a47;
}