.chapter {
  width: 100%;
  height: 55rem;
  background: #f8fafa;
}

.chapterText {
  padding-top: 4%;
  margin-left: 40%;
  font-weight: 900;
  font-size: 38pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapterText1 {
  font-size: 18pt;
  color: #b5b7b7;
  margin-left: 28%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapterRod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.chapterKartincka {
  margin-left: 15%;
}

.chapterText2 {
  color: #646565;
  font-size: 20pt;
  font-family: serif;
  font-weight: 600;
  margin-left: 5%;
  margin-top: 1.5%;
}

.chapterText3 {
  font-size: 16pt;
  color: #dadbdb;
  font-weight: 300;
  width: 75%;
  margin-top: 2.5%;
}

.chapterText4 {
  margin-top: 5%;
}

.chapterText5 {
  font-size: 16pt;
  color: #dadbdb;
  font-weight: 300;
  width: 75%;
  margin-top: 2.5%;
}

.chapterInput {
  margin-top: 1.5%;
  margin-left: 27.5%;
}

input[type='radio'] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #d0d0d0;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #71f6eb;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}
/*# sourceMappingURL=chapter.css.map */