.chapter3 {
  width: 100%;
  height: 90rem;
  background: #ffffff;
}

.chapter3Text {
  padding-top: 4%;
  margin-left: 39%;
  font-weight: 900;
  font-size: 38pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter3Text1 {
  font-size: 18pt;
  color: #b5b7b7;
  margin-left: 32%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chapter3Rob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2%;
}

.chapter3Rob1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2%;
}

.chapter3AI {
  display: none;
}

.chapter3Rob:hover .chapter3AI {
  display: block;
  cursor: pointer;
}

.chapter3AI1 {
  display: none;
}

.chapter3Rob1:hover .chapter3AI1 {
  display: block;
  cursor: pointer;
}

.chapter3Kartincka4 {
  width: 31rem;
  height: 34rem;
}

.chapter3Kartincka {
  height: 34rem;
  width: 31rem;
}

.chapter3Kartincka1 {
  height: 34rem;
  width: 31rem;
}

.chapter3Kartincka2 {
  height: 34rem;
  width: 31rem;
}

.chapter3Kartincka3 {
  height: 34rem;
  width: 31rem;
}

.chapter3Kartincka5 {
  height: 34rem;
  width: 31rem;
}
/*# sourceMappingURL=chapter3.css.map */