.header {
    width: 100%;
    height: 42rem;
    background: #eff0f2;
}

.headerKartincka {
    margin-top: 3%;
    margin-left: 8%;
}

.headerSvgFile {
    margin-left: 76%;
}

.headerText {
    font-size: 45pt;
    font-weight: 800;
    font-style: unset;
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerText1 {
    font-size: 45pt;
    font-weight: 800;
    width: 26%;
    text-align: center;
    background: #aeece8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header1 {
    display: flex;
}

.headerText2 {
    font-size: 45pt;
    font-weight: 800;
    width: 16%;
    text-align: center;
    background: #aeece8;
    margin-left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerText3 {
    font-size: 45pt;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerButton {
    margin: 5% 0 0 44%;
    width: 10%;
    height: 7%;
    border: 2px solid #777879;
    border-radius: 5px;
    background: #eff0f2;
}

.headerKartincka1 {
    margin-left: 75%;
}