@import url("header.scss") screen;
@import url("chapter.scss") screen;
@import url("chapter1.scss") screen;
@import url("chapter2.scss") screen;
@import url("chapter3.scss") screen;
@import url("chapter4.scss") screen;
body {
  max-width: 115rem;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */